
body {
    background-color: black;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    }

h1 {
    
}
.picture {
    border: 7px solid white;
    width: 100%;
    
}



    